<div class="loading" *ngIf="!productos">
  cargando...
</div>
<div class="loading" *ngIf="productos && productos.length == 0">
  No Hay Productos Para Visualizar , Intente mas Tarde :)
</div>


<div id="articulos" *ngIf="productos">
  <article class="article-item" *ngFor="let producto of productos">
    <div class="image-wrap">
      <img src="{{url + '/get-imagen/'+ producto.image}}" alt="{{producto.nombre}}" *ngIf="producto.image" />
      <img src="assets/imagenes/noimg.png" alt="{{producto.nombre}}" *ngIf="!producto.image" />
    </div>
    <h2>{{producto.nombre}}</h2>
    <span class="date">
      {{producto.fecha | amLocale: 'es' |amTimeAgo}}
    </span>
    <a [routerLink]="['/blog/producto',producto._id]">Leer más</a>
    <div class="limpiarflotados"></div>


  </article>
</div>
