<div class="center">
  <section id="content">
    <h1 class="subheader">{{pagina_titulo}}</h1>

    <form class="mid-form" #productoFormulario="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="producto.nombre" required />
        <small *ngIf="!nombre.valid && nombre.touched">
          El nombre no es valido
        </small>
      </div>

      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion" required></textarea>
        <small *ngIf="!descripcion.valid && descripcion.touched">
          La Descripcion no es valido
        </small>

      </div>

      <div class="form-group">
      <div class="imagen-editar" *ngIf="is_edit">
          <img src="{{url + '/get-imagen/'+ producto.image}}" alt="{{producto.nombre}}" *ngIf="producto.image" />
          <img src="assets/imagenes/noimg.png" alt="{{producto.nombre}}" *ngIf="!producto.image" />

      </div>
        <!-- <label for="image">Imagen del Producto</label> -->
        <angular-file-uploader [config]="afuConfig" (ApiResponse)="imagenSubir($event)">

        </angular-file-uploader>
      </div>



      <div class="limpiarflotados"></div>
      <input type="submit" value="Grabar" class="btn btn-success" [disabled]="productoFormulario.invalid" />
    </form>


  </section>
  <app-sidebar></app-sidebar>
</div>
