<app-slider [nombre]="'Vendedor'" [size]="'small'"></app-slider>

<!-- Contenido de mi progragma -->
<div class="center">
  <section id="content">
    <div id="marcadoVendedor" *ngIf="marcadoFavorito">
      <h2 class="subheader">Vendedor Seleccionado</h2>
     <h4> {{marcadoFavorito.nombre}} {{marcadoFavorito.codigo}}</h4>
     <h5>{{marcadoFavorito.comision}}</h5>
    </div>

    <h1 class="subheader">Vendedor</h1>
    <div id="articulos" *ngIf="vendedores">

      <div *ngFor="let vendedor of vendedores; let i = index">

        <app-unvenddor 
        [vendedor]="vendedor"
        (MarcarFavorito)="eventoenElPadreParaMostra($event)"
        ></app-unvenddor>

      </div>

    </div>

  </section>

  <app-sidebar></app-sidebar>

</div>
